html,
body {
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


main {
  padding: 3rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.line {
  font-size: 1.5rem;
  text-align: center;
}

.emoji {
  font-size: 2rem;
  vertical-align: middle;
}

li {
  margin: 0.5rem 0;
}
